/** HEADER **/
header {
    background-color: rgb(153, 0, 51);
    background-image: url(./assets/img/single-post-hero.jpg);
    background-size: cover;
    background-attachment: scroll;
    height: 50vh;
}

/* Showcase */
.hero {
    max-width: 80%;
    padding: 0 4rem;
    flex: 1 1 auto;
}

.hero .flex-column {
    align-items: center;
    justify-content: center;
    gap:  0px;
}

@media screen and (max-width: 980px) {
    .hero {
        max-width: 100%;
    }
}

.hero h1 {
    margin-top: calc(10rem + 2vw);
    font-size: calc(3.4rem + 1vw);
    /* Responsive font size*/
}

.hero p {
    font-size: calc(1.7rem + 0.5vw);
    /* Responsive font size*/
    line-height: calc(2.55rem + 0.5vw);
    /* Responsive line height */
    margin: 0;
    padding: 0;
}

section {
    padding: 4rem 2rem;
    margin: 0 auto;
}

/* .card .gg-arrange-back,
.card .gg-laptop {
    --ggs: 5;
    margin: 6rem auto;
} */


.blog {
    color: #333b40;
}

.blog .section-heading {
    color: darkred;
}

.blog .section-heading::after {
    border-bottom: solid 0.1rem darkred;
}

.blog .container {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
    gap: 1.5rem; 
 }

.blog-card {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 30rem);
    grid-template-rows:  repeat(11, 4.4rem);
} 

.blog-card .post-img {
    grid-column: 1/2;
    grid-row: 1/6;
}

.blog-card .title-bar {
    grid-column: 1/2;
    grid-row: 6/10;
    background-color: darkred;
    color: white;
}

.blog-card .title-bar .title {
    font-size: 2.1rem;
    font-weight: 500;
    padding: 0;
    margin: 2rem 0 0 0;
}

.blog-card .title-bar .post-date {
    font-size: 1.7rem;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.blog-card .excerpt-container {
    grid-column: 2/3;
    grid-row: 2/12;
    background-color: white;
    border: solid 1px #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: ease-in 300ms;
}

.blog-card .excerpt-container:hover {
    transform: translateY(-2rem);
    box-shadow: rgba(17, 12, 46, 0.3) 0px 48px 100px 0px;
}

.blog-card .excerpt-container p {
    padding: 0;
    margin: 0;
    font-size: 1.7rem;
}

.blog-card .excerpt-container a {
    width: 50%;
    align-self: center;
}

@media screen and (max-width: 651px) {
    .blog-card {
        display: flex;
        flex-direction: column;
    }
}